body {
  background: url(/img/gameBackground.jpg);
  text-align: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
  border-bottom: 3px solid rgb(241, 220, 220);
  width: 60%;
  margin: auto;
  color: rgb(15, 238, 127);
  text-align: center;
}

.img-container {
  margin: auto;
}
.img-style {
  width: 400px;
  height: 400px;
  margin: 15px;
  border-radius: 30%;
}


.success {
  font-family: "Kanit";
  color: rgb(221, 207, 207);
  size: 20px;
}
button {
  padding: 4px;
  margin: 15px;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 20%;
  background-color: rgb(240, 206, 206);
  
}

.reset {
  border: none;
  background-color: rgb(228, 96, 96);
  border-radius: 20%;
  width: 80px;
  height: 60px;
}
