body {
  background: url(img/gameBackground.jpg);
  text-align: center;
}

.head-line {
  font-size: 60px;
  border-bottom: 2px dashed rgb(41, 33, 17);
  width: 60%;
  margin: auto;
}

.board-num {
  margin: auto;
  margin-top: 20px;
  border: none;
}

.board td {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: none;
  background-color: rgb(222, 226, 226);
  color: rgb(219, 162, 40);
  text-align: center;
  transition: 0.5s;
}

.board td:hover {
  background-color: rgb(145, 163, 163);
  transition: 0.5s;
}

.confirm {
  border: none;
  background-color: rgb(180, 207, 157);
  border-radius: 20%;
  width: 70px;
  height: 30px;
}