.books-container td {
  background-color: rgb(228, 118, 118);
  padding: 30px;
}
.main-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books-container th {
  background-color: rgb(112, 226, 77);
  font-size: 17px;
  padding: 30px;
}

.btn {
  border-style: none;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-read {
  background-color: rgb(52, 64, 230);
}
.btn-update {
  background-color: rgb(212, 188, 50);
}

.btn-remove {
  background-color: rgb(236, 44, 44);
}
.btn-add-book {
  width: 1.2rem;
  color: rgb(84, 151, 238);
}

.price {
  font-weight: 700;
}

.more-info {
    overflow:scroll;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    line-height:1.5rem;
  color: white;
  background-color: rgba(5, 3, 3, 0.9);
  font-size: 20px;
  border-radius: 12px;
  position: absolute;
  height: 80vh;
  width: 80%;
  text-align: center;
}

.more-info h5{
    font-size: 40px;
    font-weight:600 ;
} 


.more-info img{
    border-radius: 12px;
}

.more-info button{
    border-style:none; 
    background-color: #2ed573;

    margin-top: 1rem;
    padding: 1rem 3rem;
    padding-bottom: 1rem;
    width: 16%;
    height: 3rem;
    font-size: 1.6rem;
    border-radius: 4px;
} 


.more-info button:hover{
    opacity:0.8;

}