body {
  text-align: center;
  background-color: black;
  color: white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
}
.cell img {
  width: 25px;
  height: auto;
}
.floor {
  background-color: gray;
}
.wall {
  background-color: brown;
}
table {
  margin: auto;
}

.modal {
  display: none;
  color: rgb(182, 90, 90);
}

.reset {
  display: none;
  margin: auto;
  padding: 4px;
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 30%;
  background-color: rgb(181, 194, 186);
}
